@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Nunito' , arial, sans-serif;
  vertical-align: baseline;
}

/* hidden from user, visible to screen reader */
.bab-semiHidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
/* hidden from screen reader */
.bab-hidden {
    display:none;
    visibility:hidden;
}
/* *******************  TEMP  ************************ */
body ,html {
    height: 100%;
    widows: 100%;
}

nav {
    display: none;
    visibility: hidden;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
    width: 100%;
}

.bab-mainHeader {
    background-color: #353744;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100px;
    left: 0;
}
.bab-mainHeader img {
    height: 70%;
    margin-top: 15px;
    margin-left: 1.015625%; 
    float: left;
}

main {
    top: 100px;
    position: fixed;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 100%;
}
main > section > ol {
    list-style-type: none;
}
main > section {
    /* TEMP */
    background-color: rgb(240, 240, 250);
    height: 100%;
}

@media only screen and (min-width : 320px) {

    main > header > h1 {
        font-size: 1.55em;
        color: rgb(41, 41, 41);
        font-family: 'Nunito';
        font-weight: 500;
        
        position: relative;
        top: 25%;
        float: left;
        
    }
    .bab-u-marginLeft {
        margin-left: 29px;
    }
    
    body {
        font-size: 15px;
    }
    main > header {
        background-color: rgb(200, 200, 200);
        width: 100%;
        min-height: 30px;
        height: 59px;;
    }
    main > header > dl {
        float: right;
        margin-right: 3.28125%;
        top: 40%;
        position: relative;
    }
    main > header > dl > dt,dd {
        
        float: left;
    }
    main > header > dl > dt {
        margin-left: 4px;
    }
    main > header > dl > dd {
        margin-left: 2px;
    }

}
@media only screen and (min-width : 638px) {

  
    nav {
        background-color: rgb(97, 210, 144);
        width: 17.96875%;
        height: 100%;
        left: 0;
        z-index: -1;
        position: absolute;
        display: block;
        visibility: visible;
    }
    main > header {
        width: 82.03125%;
    }
    body {
        font-size: 15px;
        padding-left: 17.96875%;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }

}
