@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Nunito' , arial, sans-serif;
  vertical-align: baseline;
}

/* hidden from user, visible to screen reader */
.bab-u-semiHidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
/* hidden from screen reader */
.bab-u-hidden {
    display:none;
    visibility:hidden;
}
/* *******************  TEMP  ************************ */
body ,html {
    height: 100%;
    widows: 100%;
}

nav {
    display: none;
    visibility: hidden;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
    width: 100%;
}
.bab-u-marginLeft {
    margin-left: 29px;
}

.bab-MainHeader {
    background-color: #353744;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100px;
    left: 0;
}
.bab-MainHeader-img {
    height: 70%;
    margin-top: 15px;
    margin-left: 13px; 
    float: left;
}
.bab-SendMessage-form-button-img {
    background-color: white;
    width: 45px;
    margin: 0;
  
}

.bab-Main {
    top: 100px;
    position: relative;
    background-color: rgb(246, 246, 246);
    width: calc(100% );
    margin-right: 8px;
    height: calc(100% - 100px); /*116 = 100 (main header) + 16 margins*/
}
.bab-Main-section-ol {
    list-style-type: none;
}
.bab-MessagesSection {
    /* TEMP */
    /* background-color: rgb(140, 140, 255); */
    background-color: rgb(246, 246, 246);
    min-height: 100px;    
    overflow: auto;
    
}


.bab-SendMessage {
    width: calc(100% - 8px);
    position: relative;
    bottom: 0;
    min-width: 100px;
    margin: 8px 0px 8px 8px;
    max-height: 300px;
    overflow: hidden;
}
.bab-Growable-textarea,
.bab-Growable-pre {
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0.2em;
    padding-left: 0.5em;
    height: 100%;
    min-height: 40px;
    
}
.Growable {
    position: relative;
    border: none;
    max-height: 100px;
    width: calc(100%  - 100px);
    overflow: hidden;
}
.bab-SendMessage-form-textarea {
    width: 100%;
    resize: none;
    border: none;
    border-radius: 10px;    
    outline: none;
    min-width: 100px;
    position: absolute;
    top: 0; left: 0;
    overflow: visible;
    height: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.bab-Tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;  */
}
.bab-Tooltip .bab-Tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;     
    position: absolute;
    top: -5px;
    right: 105%; 
    z-index: 1;
}


@media only screen and (min-width : 320px) {

    .bab-Main-header-h1 {
        font-size: 1.55em;
        color: rgb(41, 41, 41);
        font-family: 'Nunito';
        font-weight: 500;
        
        position: relative;
        top: 25%;
        float: left;
        
    }
    .bab-Tooltip .bab-Tooltiptext {
        visibility: hidden;
    }
    /* **************************MESSAGE SECTION***************************** */
    .bab-MessagesSection {
        margin-left: 10px;
        margin-right: 10PX;
        
        /* overflow: scroll; */
    }
    /* *************************SEND MESSAGE ******************************* */
    .Growable {
        max-height: 300px;
    }
    .bab-SendMessage {
        /* position: absolute; */
        position: absolute;
    }
    .bab-SendMessage-form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .bab-SendMessage-form-button {
        margin-left: 20px;
        background-color: white;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        outline: none;
        cursor: pointer;
    }
    .bab-SendMessage-form-button-img {
        background-color: white;
        width: 45px;
        margin: 0;
      
    }
    .bab-Message {
        display: flex;
        /* margin-top: 8px; */
        margin-bottom: 15px;
        
        
    }
    .bab-Message-img {
        width: 36px;
        align-self: left;
        margin-right: 10px;
        border-radius: 50%;
    }
    .bab-Message-delete {
        float: right;
        margin-left: 4px;
    }
    .bab-Message-div {
        border-radius: 10px;
        background-color: white;
        max-width: 675px;
        padding: 4px 6px 4px 6px;
        border: 1px;
        border-style: solid;
        border-color: rgb(215, 215, 215);
    }
    .bab-Message-div:hover {
        background-color: rgb(235, 237, 236);
    }
    .bab-Message-name {
        color: rgb(32, 39, 41);
        font-weight: 700;
    }
    .bab-Message-time {
        color: rgb(130, 130, 130);
        font-size: 0.85em;
        font-stretch: ultra-condensed;
        font-weight: 100;
        margin-left: 5px;
        
    }
    .bab-Message-text {
        color: rgb(80, 80, 80);
    }
    
    .bab-SendMessage-form-button{
        float: right;
        
        background-color: rgb(246, 246, 246);
    }
    .bab-SendMessage-form-button-img ,.bab-SendMessage{
        background-color: rgb(246, 246, 246);
    }
    body {
        font-size: 15px;
    }
    .bab-Main-header {
        background-color: rgb(246, 246, 246);
        width: 100%;
        height: 59px;;
    }
    .bab-Main-header-dl {
        float: right;
        margin-right: 3.28125%;
        top: 40%;
        position: relative;
    }
    .bab-Main-header-dl-dt {
        margin-left: 4px;
        float: left;
    }
    .bab-Main-header-dl-dd {
        margin-left: 2px;
        float: left;
    }

}
@media only screen and (min-width : 638px) {
    .bab-Nav {
        background-color: rgb(97, 210, 144);
        width: 17.96875%;
        height: 100%;
        left: 0;
        z-index: -1;
        position: fixed;
        display: block;
        visibility: visible;
    }
    .bab-Tooltip:hover .bab-Tooltiptext {
        visibility: visible;
    }
    /* **************************MESSAGE SECTION *************************** */
    .bab-MessagesSection {
        margin-left: 24px;
        margin-right: 24PX;
        /* overflow: scroll; */
    }
    .bab-Message-div {
        min-width: 420px;
    }

    /* *************************SEND MESSAGE ******************************* */
    .bab-SendMessage {
        width: calc(100% );
        margin: 0;
        border-top: 1px;
        border-style: solid;
        border-color: rgb(215, 215, 215);
    }
    .bab-SendMessage-form-button ,.bab-SendMessage-form-button-img,.bab-SendMessage{
        background-color: white;
    }
    body {
        font-size: 15px;
        padding-left: 17.96875%;
    }

    .bab-Growable-pre , .bab-SendMessage-form-textarea {
        padding: 1em;
        border-radius: 0;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }

}
